{{/* Formats a map of compiler logs (one per subject).
     Assumes an indent of 6 spaces, and leaves a trailing newline. */}}
{{- range $sname, $log := . -}}      #### {{ $sname }}
    {{- with $log }}
```
{{ $log }}
```
    {{- else }}
        No log available.
    {{- end }}
{{ end -}}