language: go
go:
  - 1.14.x
  - master
os:
  - linux
dist: bionic
before_install:
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0
script:
  - golangci-lint run
  - go test -v -race ./...